@font-face {
    font-family: 'ostrich_sanscondensed_light';
    src: url('/fonts/ostrich-light.eot');
    src: url('/fonts/ostrich-light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ostrich-light.woff') format('woff'),
         url('/fonts/ostrich-light.ttf') format('truetype'),
         url('/fonts/ostrich-light.svg#ostrich_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('/fonts/ostrich-regular.eot');
    src: url('/fonts/ostrich-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ostrich-regular.woff') format('woff'),
         url('/fonts/ostrich-regular.ttf') format('truetype'),
         url('/fonts/ostrich-regular.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
